.counters-container {
    text-align: center;
    padding: 1rem;
}

.add-counter, app-counter {
    margin: 1rem;
    width: 8rem;
    height: 6rem;
    border: 2px solid #dddddd;
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.add-counter span {
    opacity: 0.5;
    font-size: 1.4rem;
}